<div class="misc">
  <span class="badge">Awards</span>
  <ul>
    <li><a href="https://accv2022.org/en/AWARDS.html">Student honorable mention award</a> at ACCV 2022</li>
    <li><a href="https://twitter.com/cveu_workshop/status/1450081213633515530?s=20">Best paper award</a> at ICCV-W CVEU,
      2021</li>
  </ul>


  <span class="badge">Reviewer</span>
  <ul>
    <li><b>2023</b>: CVIU, ICCV, ICCV-W (AI3DCC, CVEU), NeuNet, WICED</li>
    <li><b>2022</b>: ACCV, CVIU, ECCV-W (CVEU)</li>
  </ul>
</div>